<!--<form class="well" (submit)="addTask($event)">-->
  <!--<div class="form-group">-->
    <md-input-container class="example-full-width">
      <input mdInput [(ngModel)]="title" name="title" placeholder="Add task">
    </md-input-container>
    <!--&lt;!&ndash;<input type="text" [(ngModel)]="title" name="title" placeholder="add task">&ndash;&gt;-->
  <!--</div>-->
<!--</form>-->

<div class="task-list">
  <div class="task" *ngFor="let task of tasks">
    <md-checkbox checked="{{task.isDone}}"></md-checkbox>
    <input type="text" readonly value="{{task.title}}">
    <!--<md-input-container class="example-full-width">-->
      <input mdInput placeholder="State">
    <!--</md-input-container>-->
    <button md-mini-fab (click)="removeTask(task._id)"><md-icon>delete</md-icon></button>
  </div>
</div>


